@import '../utilities/mixins.scss';

#home-page{
  @include for-desktop-up{
    flex-direction: row;
  }
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .section{
    padding: 20px;
    border-radius: 15px;
    max-width: 35rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--theme-color-tertiary);
    color: var(--theme-color-text);
    margin: 1rem 0.5rem;
  }
  .section-title{
    font-size: 2.5em;
    font-weight: 600;
    margin-bottom: 1em;
    color: var(--theme-color-text);
  }
  .description{
    font-size: 1.2em;
    margin-bottom: 1em;
    text-align: justify;
    color: var(--theme-color-text);
  }
  .btn-container{
    display: flex;
    align-items: center;
    justify-content: center;
    .btn{
      @include button-base-style;
      @include button-background-color-style;
      @include button-link-style;
    }
  }
  .home-create-game{
    margin-right: 1rem;
    .multiplayer-gameId{
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 1em;
      font-size: 1.2rem;
      font-weight: bold;
      .gameId-label{
        margin-right: 1em;
        color: var(--theme-color-text);
      }
      .gameId-display{
        margin-left: 1em;
        font-size: 1.5rem;
        font-weight: bold;

      }
    }
  }
  .home-join-game{
    .input-container{
      font-size: 1.2rem;
      font-weight: bold;
      color: var(--theme-color-text);
      margin-bottom: 1rem;
      display: flex;
      align-items: center;
      .label{
        margin-right: 0.5rem;
      }
      .input{
        font-size: 1.5rem;
        margin-left: 0.5rem;
        text-align: center;
        width: 8rem;
        border: none;
        border-radius: 1rem;
        &:focus{
          outline: none;
        }
      }
    }
  }
}
