@import '../utilities/mixins.scss';

#home-page{
  display: flex;
  align-items: center;
  justify-content: center;
  .section{
    padding: 20px;
    border-radius: 15px;
    max-width: 35rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .section-title{
    font-size: 2.5em;
    font-weight: 600;
    margin-bottom: 1em;
    color: var(--theme-color-text);
  }
  .description{
    font-size: 1.2em;
    margin-bottom: 1em;
    text-align: justify;
    color: var(--theme-color-text);
  }
  .btn-container{
    display: flex;
    align-items: center;
    justify-content: center;
    .btn{
      @include button-base-style;
      @include button-background-color-style;
      @include button-link-style;
    }
  }
  .home-create-game{
    background-color: var(--theme-color-tertiary);
    color: var(--theme-color-text);
    .multiplayer-toggle{
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 1em;
      font-size: 1.2rem;
      font-weight: bold;
      .singlePlayer-label{
        margin-right: 1em;
        color: var(--theme-color-text);
      }
      .multiplayer-label{
        margin-left: 1em;
        color: var(--theme-color-text);
      }
    }
    .multiplayer-privacy{
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 1em;
      font-size: 1.2rem;
      font-weight: bold;
      .private-label{
        margin-right: 1em;
        color: var(--theme-color-text);
      }
      .public-label{
        margin-left: 1em;
        color: var(--theme-color-text);
      }
    }
    .toggle{
      background-color: var(--theme-color-background-secondary);
      border-radius: 25px;
      cursor: pointer;
      width: 5rem;
      height: 2rem;
      .toggle-checkbox{
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
      }
      .slider{
        position: relative;
        top: 0.1rem;
        left: 0.1rem;
        width: 2.5rem;
        height: 1.5rem;
        background-color: var(--theme-color-background);
        border-radius: 25px;
        transition: 0.4s;
        &:before{
          position: absolute;
          content: "";
          height: 1.8rem;
          width: 1.8rem;
          background-color: var(--theme-color-background);
          transition: 0.4s;
          border-radius: 50%;
        }
      }
    }
    .checked{
      background-color: var(--theme-color-primary);
      .slider{
        &:before{
          transform: translateX(3rem);
        }
      }
    }
    .multiplayer-gameId{
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 1em;
      font-size: 1.2rem;
      font-weight: bold;
      .gameId-label{
        margin-right: 1em;
        color: var(--theme-color-text);
      }
      .gameId-display{
        margin-left: 1em;
        font-size: 1.5rem;
        font-weight: bold;

      }
    }
  }
}
