@import "../utilities/mixins.scss";

#results-page{
    .results-situations-container{
        @include for-desktop-up{
            flex-direction: row;
        }
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 1rem 0;
        .results-situation-display{
            width: 100%;
            max-width: 50rem;
        }
    }
}
