.toggle-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--theme-color-text);
    .start-label{
        margin-right: 1em;
    }
    .end-label{
        margin-left: 1em;
    }
    .toggle{
        background-color: var(--theme-color-background-secondary);
        border-radius: 25px;
        cursor: pointer;
        width: 5rem;
        height: 2rem;
        .toggle-checkbox{
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
        }
        .slider{
            position: relative;
            top: 0.1rem;
            left: 0.1rem;
            width: 2.5rem;
            height: 1.5rem;
            background-color: var(--theme-color-background);
            border-radius: 25px;
            transition: 0.4s;
            &:before{
                position: absolute;
                content: "";
                height: 1.8rem;
                width: 1.8rem;
                background-color: var(--theme-color-background);
                transition: 0.4s;
                border-radius: 50%;
            }
        }
    }
    .checked{
        background-color: var(--theme-color-primary);
        .slider{
            &:before{
                transform: translateX(3rem);
            }
        }
    }
}
