.board{
    .canvas-container{
        margin: 20px;
        border-radius: 8px;
        background-color: #fff;
        display: flex;
        justify-content: center;
        canvas{
            //border: 1px solid #ccc;
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
            margin:5px;
            border-radius: 5px;
            padding-bottom: 20px;
        }
    }
}