#board-consumption-details{
    .card{
        .card-choice-buttons{
            display: flex;
            justify-content: center;
            .btn-modify{
                margin-right: 10px;
            }
            .btn-delete{
                margin-left: 10px;
                background-color: red;
                color: white;
            }
        }
    }
}
