@import '../utilities/mixins.scss';
.card-header{
    margin: 5px 0 0 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .icon{
        height:60px;
        width: 60px;
    }
    .consumption-details-title{
        @include base-typography-title;
    }
    .closebtn{
        @include button-close-style;
    }
}
