@import '../utilities/mixins.scss';
.card-time-modifier{
    display: flex;
    justify-content: center;
    align-items: center;
    @include base-typography;
    .hour-container{
        display: flex;
        align-items: center;
        justify-content: center;
        .hour-modifier-container{
            background-color: var(--theme-color-background-secondary);
            border-radius: 25px;
            margin: 0.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            .btn{
                @include button-plus-minus-style;
                background-color: var(--theme-color-tertiary);
                color: var(--theme-color-text);
                &:hover{
                    color: var(--theme-color-text-secondary);
                    background-color: var(--theme-color-primary);
                }
            }
            .add{
                margin-left: 0.5rem;
            }
            .remove{
                margin-right: 0.5rem;
                //padding: 0.5rem 1.2rem;
            }
            .disabled{
                @include button-disabled-style(--theme-color-text, --theme-color-background-secondary);
            }
            .input-container{
                display: flex;
                align-items: center;
                justify-content: center;
                .input{
                    height: 2rem;
                    border: none;
                    border-radius: 25px;
                    background-color: var(--theme-color-background-secondary);
                    text-align: center;
                    color: var(--theme-color-text);
                    &:focus{
                        outline: none;
                    }
                }
            }
        }
        .input-error{
            border: 1px solid var(--theme-color-error);
            .input-container{
                .input{
                    color: var(--theme-color-error);
                }
            }
        }
    }
}
.time-select {
  display: flex;
  align-items: center;
  gap: 4px;
}

select {
  padding: 4px;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
}
