@import '../utilities/mixins.scss';
.card-content{
    margin: 15px 0 15px 0;
    h2{
        display: flex;
        align-items: center;
        @include base-typography;
        svg{
            height: 30px;
            width: 30px;
        }
    }
    align-items: center;
    .card-content-item{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .card-content-consumption{
        margin: 0 0 5px 0;
        .consumption-amount{
            .icon-consumption{
                margin-right: 10px;
                color: rgba(255, 217, 0, 0.605);
            }
        }
        .consumption-amount-Wh{
            margin-left: 1rem;
        }
    }
    .card-content-price{
        margin: 0 0 5px 0;
        .consumption-price{
            .icon-price{
                margin-right: 10px;
                color: green;
            }
        }
    }
    .card-content-time{
        .icon-time{
            margin-right: 10px;
            color:blue;
        }
    }
}
