.card-choice-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    .btn-save{
        margin-right: 1rem;
    }
    .btn-modify{
        margin: 1rem;
    }
    .btn-delete{
        margin-left: 1rem;
    }
}
