$class_en:  (A, #009136),
            (B, #55AB26),
            (C, #C8D200),
            (D, #FEED01),
            (E, #FBB900),
            (F, #EB6909),
            (G, #E3001B);



.equi-container {
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items:center;
    margin-bottom: 1rem;
    background-color: green;

    width: auto;
    overflow: hidden;

    min-height: 5vh;
    padding: 1rem;

    margin-left: 0.7rem;

    transition: 0.2s ease-in-out;

    border-radius: 20px;
    cursor: pointer;
    margin-right: 1rem;

    .conso-class {
        color: var($class_en);
        background-color: lightgrey;
        width: 3rem;
        height: 3rem;
        border-radius: 70%;
        font-weight: bolder;
        font-size: larger;

        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        margin: 0rem 1rem 0rem 1rem;
    
    }
    h1 {
        
        margin-right: 1rem;
        font-weight: bold;
    }
    p {
        font-weight: bold;
    }


    &:hover {
        background-color: lightgreen;
        .conso-class{
            background-color: darkgray;
            transform: translateX(0.2rem);
        }

    }

}

.modal {
    width: 750px;
    background-color: beige;
    border-radius: 20px;
    padding: 30px;
    position: relative;
    display: flex;
    flex-direction: column;

}


