#game-board-snackbar{
    position: fixed;
    bottom: 70px;
    right: 20px;
    z-index: 5;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    #energy-menu-icon{
        display: flex;
        align-items: center;
        .energy-amount{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 50px;
            border-radius: 10px;
            background-color: var(--theme-color-tertiary);
            color: var(--theme-color-text);
            font-size: 1.5rem;
            font-weight: 700;
            padding: 0 5px;
        }
        .energy-icon{
            position : relative;
            .energy-icon-background{
                width: 60px;
                height: 60px;
                border-radius: 50%;
                background-color: var(--theme-color-tertiary);
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 10px;
                .energy-icon-image{
                    width: 40px;
                    height: 40px;
                }
                &:hover{
                    background-color: var(--theme-color-secondary);
                    cursor: pointer;
                }
            }
            .energy-icon-batteries{
                position: absolute;
                top: -10px;
                right: -10px;
                border-radius: 50%;
                background-color: var(--theme-color-primary);
                color: var(--theme-color-text-secondary);
            }
        }
    }
}
