#game-board-snackbar{
    position: fixed;
    bottom: 70px;
    right: 20px;
    z-index: 5;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    .icon-section{
        display: flex;
        align-items: center;
        margin: 0.25rem 0;
        .amount{
            display: none;
        }
        .icon-container{
            position : relative;
            .icon-background{
                width: 60px;
                height: 60px;
                border-radius: 50%;
                background-color: var(--theme-color-tertiary);
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 10px;
                &:hover{
                    background-color: var(--theme-color-secondary);
                    cursor: pointer;
                }
                .icon-image{
                    width: 40px;
                    height: 40px;
                }
            }
        }
        &:hover{
            .amount{
                display: flex;
                align-items: center;
                justify-content: center;
                height: 50px;
                border-radius: 10px;
                background-color: var(--theme-color-tertiary);
                color: var(--theme-color-text);
                font-size: 1.5rem;
                font-weight: 700;
                padding: 0 0.6rem;
                margin-right: 0.5rem;
            }
        }
    }
    #energy-menu-icon{
        .energy-icon{
            .energy-icon-batteries{
                position: absolute;
                top: -10px;
                right: -10px;
                border-radius: 50%;
                background-color: var(--theme-color-primary);
                color: var(--theme-color-text-secondary);
            }
        }
        
    }
    #money-menu-icon{
        .money-icon-container{
            .money-icon-background:hover{
                cursor: default;
            }
        }
    }
}
