@use "../utilities/mixins.scss" as *;

.results-situation-display{
    background-color: var(--theme-color-background);
    border-radius: 0.5vw;
    padding: 1vw;
    margin-top:3.5vw;
    width: 45vw;
    .situation-title{
        @include base-typography;
        font-size: 1.5vw;
        font-weight: bold;
        margin: 0.5vw 0;
    }
    .situation-description{
        @include base-typography;
        font-size: 1vw;
        margin: 0.5vw 0;
    }
}
