
.list-container {
	display: flex;
	flex-direction: column;
	background-color: var(--theme-color-secondary);
	border-radius: 15px;
    //height: 1520px;
    height: 54rem;
    //width: calc(17rem + 32px );
    padding: 1rem;
    margin-top: 0.4rem;
    transition: 0.2s ease-in-out;
    overflow-y: auto;
    .boucle {
        .box-container {
            margin: 0 0.5rem 0.5rem 0;
            background-color: var(--theme-color-background-secondary);
            border-radius: 10px;
            margin: 1rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            cursor: pointer;

            .day-container {
                display: flex;
                flex-direction: row;

                h1 {
                    margin-top: 1rem;
                    font-size: x-large;
                    font-weight: bold;
                    text-align: center;
                }

                .icon-season{
                    font-size: 40px;
                    margin-left: 2rem;
                    margin-right:0.4rem;
                    margin-top: 1rem;
                }
            }

            h1 {
                margin-top: 0.5rem;
                font-size: larger;
                font-weight: bold;
                text-align: center;
            }

            .svg-container {
                margin: 1rem;
                border-radius: 5px;
                border-style: solid;
                border-color: var(--theme-color-secondary);
            }

            .icon-container {
                display: flex;
                flex-direction: row;
                margin-bottom: 1rem;
                .icon-type-prod{
                    font-size: 40px;
                    margin-left: 0.4rem;
                    margin-right:0.4rem;
                }
            }
        }
        &:hover {
            .box-container {
                transform: translateX(0.1rem);
            }
            
        }
    }
}