@import '../utilities/mixins.scss';

.validation-section{
    background-color: var(--theme-color-background);
    border-radius: 1rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    .section-title{
      color: var(--theme-color-text);
      font-size: 1.5rem;
      font-weight: bold;
    }
    .description{
      color: var(--theme-color-text);
      font-size: 1.2rem;
      margin: 0.5rem;
      text-align: justify;
    }
    .btn-container{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 0.5rem;
        .btn{
          @include button-base-style;
          @include button-main-color-style;
          @include button-link-style-main;
        }
        .random-btn{
          margin-right: 1rem;
        }
        .play-btn{
          margin-left: 1rem;
        }
    }
}
