
.recap-container {
    height: 100%;
    background-color: var(--theme-color-background);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    color: var(--theme-color-text);
    .card-content {
        .name {
            margin-top: 0.5rem;
            font-size: larger;
            font-weight: bold;
            text-align: center;
        }
        .meteo-container {
            display: flex;
            flex-direction: row;
            .day {
                margin-top: 3rem;
                font-size: larger;
                font-weight: bold;
                text-align: left;
                margin-left: 2rem;
            }
            .icon-season {
                margin-top: 2.3rem;
                font-size: 45px;
                margin-left: 0.6rem;
                margin-right:0.6rem;
            }

        }
        .separator {
            height: 0.1rem;
            border-radius: 10px;
            background-color: lightgray;
            margin-top: 0.3rem;
            margin-bottom: 0.3rem;
        }
        .svg-container {
            margin: 1rem;
            border-radius: 5px;
            border-style: solid;
            border-color: var(--theme-color-secondary);
            background-color: white;

        }
        .icon-container {
            justify-content: center;
            display: flex;
            flex-direction: row;
            margin-bottom: 1rem;
            .icon-type-prod{
                font-size: 45px;
                margin-left: 0.6rem;
                margin-right:0.6rem;
            }
            .icon-type-equipement {
                font-size: 45px;
                margin-left: 0.6rem;
                margin-right:0.6rem;
            }
        }
        .explanation-container {
            margin-top: 0.5rem;
            p{
                font-size: large;
                font-weight: 400;
                text-align: justify;
            }
        }
    }
}
