
.recap-container {
    height: 100%;
    width: 30vw;
    background-color: var(--theme-color-background);
    padding: 1vw;
    display: flex;
    flex-direction: column;
    border-radius:1vw;
    color: var(--theme-color-text);
    .card-content {
        .name {
            margin-top: 0.5vh;
            font-size: 1.5vw;
            font-weight: bold;
            text-align: center;
        }
        .meteo-container {
            display: flex;
            flex-direction: row;
            align-items: center;
          justify-content: center;
            .day {
                margin-top: 1vh;
                font-size: 1.5vw;
                font-weight: bold;
                text-align: center;
                margin-left: 2vw;
            }
            .icon-season {
                margin-top: 1vh;
                font-size: 1.5vw;
                margin-left: 0.6vw;
                margin-right:0.6vw;
            }

        }
        .separator {
            height: 0.1vh;
            background-color: lightgray;
            margin-top: 0.3vh;
            margin-bottom: 0.3vh;
        }
        .svg-container {
            margin: 0.5vw;
            border-radius: 5px;
            border-style: solid;
            border-color: var(--theme-color-secondary);
            background-color: white;

        }
        .icon-container {
            justify-content: center;
            display: flex;
            flex-direction: row;
            margin-bottom: 1rem;
            .icon-type-prod{
                font-size: 1.5vw;
                margin-left: 0.6vw;
                margin-right:0.6vw;
            }
            .icon-type-equipement {
                font-size: 3vw;
                margin-left: 0.6vw;
                margin-right:0.6vw;
            }
        }
        .explanation-container {
            margin-top: 0.5vh;
            p{
                font-size: 1.1vw;
                font-weight: 400;
                text-align: justify;
            }
        }
    }
}
