# don't ever lint node_modules
node_modules
# don't lint build output
dist
# don't lint nyc coverage output
coverage
# don't lint .github
.github
# don't lint .md files
**/*.md
# don't lint just file
justfile
# don't lint .git
.git
# don't lint .gitignore
.gitignore
# don't lint .gitattributes
.gitattributes
# don't lint scss files
**/*.scss
