@mixin spread-map($map: ()) {
    @each $key, $value in $map {
        #{$key}: $value;
    }
}

@mixin button-base-style() {
    padding: 0.25rem 0.75rem;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bold;
    transition: 0.2s;
}
@mixin button-background-color-style() {
    background-color: var(--theme-color-background);
    color: var(--theme-color-text);
    &:hover {
        background-color: var(--theme-color-primary);
        color: var(--theme-color-text-secondary);
    }
}
@mixin button-main-color-style() {
    background-color: var(--theme-color-primary);
    color: var(--theme-color-text-secondary);
    &:hover {
        background-color: var(--theme-color-secondary);
        color: var(--theme-color-text);
    }
}
@mixin button-link-style() {
    a{
        text-decoration: none;
        font-size: 1.2rem;
        font-weight: bold;
        color: var(--theme-color-text);
        &:hover {
            color: var(--theme-color-text-secondary);
        }
    }
}

@mixin button-link-style-main(){
    a{
        text-decoration: none;
        font-size: 1.2rem;
        font-weight: bold;
        color: var(--theme-color-text-secondary);
        &:hover {
            color: var(--theme-color-text);
        }
    }
}
