/*--Colors Definition--*/
$color-white-50:#D9D9D9;
$color-white-75:#E6E6E6;
$color-white-100:#F2F2F2;
$color-white-200:#FFFFFF;

$color-black-50:#262626;
$color-black-75:#1A1A1A;
$color-black-100:#0d0d0d;
$color-black-200:#000000;

/*----*/